* {
    background-color: rgb(192, 216, 216);
    color:antiquewhite;
    text
}

.div1 {
    text-align: center;
}

.div2 {
    text-align: left;
    margin-top: 20px;
    width: 100%;
    background: linear-gradient(to right, red, black);
}